@{
    ViewBag.Title = "RegisterAsChamberCertified";
    Layout = "~/Views/Shared/_BusinessGeneratorLayout.cshtml";
}

<br />
<br />

<div class="form-profile text-allcontent">
<h1>Your company has been succesfully registered as a Chamber Certified organization.</h1>
</div>

<br />
<br />
<br />
