@{
    ViewBag.Title = "Payment Declined";
    Layout = "~/Views/Shared/_BusinessGeneratorLayout.cshtml";
}

<br />
<br />

<div class="form-profile text-allcontent">
<h1>Payment Declined - Please contact your bank</h1>
</div>

<br />
<br />
<br />